@import "./vars";

.spacer {
  flex: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: $white;
  #text-header {
    font-size: 0.9rem;
    color: $primary-blue;
  }
  padding: 0 20px;
}

.content {
  position: fixed;
  border-top: 1px solid #d4d4d6;
  top: 80px;
  bottom: 40px;
  right: 0;
  left: 0;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: $primary-blue;
  background-color: $white;
}

@include media-breakpoint-down(sm){
  header {
    height: 60px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    #text-header {
      margin: 0;
    }
  }
}
