<form [formGroup]="transferForm">
    <div class="form-group">
        <label for="fromAccount">From Account</label>
        <input class="form-control" type="text" id="fromAccount" disabled
            [value]="'My Personal Account: € ' + (myAccount.balance | number: '1.0-2')">
    </div>
    <div class="form-group" [class.error]="formIsError('toAccount')">
        <label for="toAccount">To Account</label>
        <input class="form-control" type="text" formControlName="toAccount" placeholder="type an account name"
            id="toAccount">
        <div class="error-message">This field is required</div>
    </div>
    <div class="form-group" [class.error]="formIsError('amount')">
        <label for="amount">Amount</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">€</div>
            </div>
            <input class="form-control" (keypress)="digitOnly($event)" type="text" formControlName="amount"
                placeholder="specify the amount" id="amount">
        </div>
        <div class="error-message" *ngIf="transferForm.controls['amount'].value > myAccount.balance + maxDebt">There is not enough balance</div>
        <ng-container *ngIf="transferForm.controls['amount'].invalid">
            <div class="error-message" *ngIf="transferForm.controls['amount'].errors?.pattern">This field allow only positive number</div>
            <div class="error-message" *ngIf="transferForm.controls['amount'].errors?.required">This field cannot be null</div>
        </ng-container>
    </div>
    <app-submit-button [disabled]="transferForm.invalid || transferForm.controls['amount'].value > myAccount.balance + maxDebt" (submitForm)="submit()"></app-submit-button>
</form>