
// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$white: #ffffff;

$primary-black: #41464c;
$primary-gray: #c8ced4;
$primary-blue: #3894d7;
$primary-red: #c83e41;

$secondary-gray: #626971;

$form-gray: #e6e9ec;

$card-border-color: #dadee2;

